mat-card-header {
    padding: 15px;
    background-color: whitesmoke;
}
mat-card {
    padding: 0;
    margin: 20px;
}
.container {
    padding: 15px;
}

.pile {
    background-color: darkseagreen;
}

.hand {
    background-color: rgb(172, 209, 172);
}

mat-form-field {
    margin: 10px;
}
