mat-card {
    width: 1em;
    height: 2em;
    display: inline-flex;
    margin: 0 0.5em 0.5em 0;
    text-align: center;
}

.rank{
    position: absolute;
    left: 3px;
    top: 3px;
}

.suit{
    font-size: 25px;
}
